<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui padded stackable inverted center aligned divided equal height stackable grid">
      <div class="two wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Intuition</a>
          <a href="#" class="item">Turbo Tax</a>
          <a href="#" class="item">Intuit</a>
          <a href="#" class="item">Sponsors</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Find us @</h4>
        <button class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </button>
        <button class="ui circular twitter icon button">
          <i class="twitter icon"></i>
        </button>
        <button class="ui circular linkedin icon button">
          <i class="linkedin icon"></i>
        </button>
        <button class="ui circular google plus icon button">
          <i class="google plus icon"></i>
        </button>
      </div>
      <div class="seven wide column">

      </div>
    </div>
  </div>
</div>